@import "../../scss/variables.scss";

.footerMinorWrapper {
  position: relative;
  padding-top: 150px;
  .squareWithEarth {
    position: absolute;
    width: 326px;
    height: 326px;
    background: $white url(../../assets/images/earth.png) center no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: -126px;
  }
  .footerEllipse {
    position: absolute;
    background: $dark;
    width: 105%;
    height: 84px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    box-shadow: 0px 40px 40px -27px rgba($black, 0.9);
  }
  .carousel .control-dots {
    display: block;
    bottom: -60px !important;
  }
  .carousel .control-dots .dot {
    flex: unset !important;
    margin: 0 14px !important;
    border-radius: 50% !important;
    width: 8px !important;
    height: 8px !important;
    background: $white !important;
  }
  .carousel .thumbs-wrapper {
    margin-top: 56px;
  }
  .carousel .thumbs {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel .thumb {
    width: 230px !important;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: $dark_3;
    margin-right: 0;
    cursor: pointer;
    font-family: $montSemi;
    font-size: 15px;
    line-height: 18px;
    color: $white;
    &:first-child {
      border-radius: 20px 0px 0px 20px;
    }
    &:last-child {
      border-radius: 0px 20px 20px 0px;
    }
  }
  .carousel .thumb.selected {
    background: $black;
  }
}