@import '../../scss/variables.scss';

.LearMoreWrapper {
  position: relative;
}
.LearMoreWrapper::before {
  content: '';
  position: absolute;
  width: 230px;
  height: 342px;
  background: url(../../assets/images/square-dotts.svg) center no-repeat;
  top: -77px;
  left: -22px;
}
.youCanStayDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.youCanStayText {
  font-family: $montMed;
  font-size: 22px;
  line-height: 27px;
  color: $white;
  margin-bottom: 8px;
}
.firstStep {
  font-family: $montReg;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: $almostWhite;
}
.youCanStayBlocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.youCanStayBlock {
  min-width: 674px;
  min-height: 240px;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0 12px;
}
.youCanStayVolunteer {
  background: $white url(../../assets/images/volunteer.png) left bottom no-repeat;
}
.youCanStaySponsor {
  background: $white url(../../assets/images/sponsor.png) left bottom no-repeat;
}
.youCanStayTitle {
  font-family: $montSemi;
  font-size: 26px;
  line-height: 32px;
  color: $black;
  margin-top: -15px;
}
.orangeLineWrapper {
  width: 100%;
  min-height: 442px;
  background: url(../../assets/images/orange-line.png);
  margin: 174px 0 70px;
}
.targetTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.targetTask::before,
.targetTask::after {
  content: '';
  position: absolute;
  width: 136px;
  height: 136px;
  background: url(../../assets/images/circle.png) center no-repeat;
}
.targetTask::before {
  bottom: -85px;
  left: -100px;
}
.targetTask::after {
  transform: rotate(120deg);
  top: 105px;
  right: -150px;
}
.targetTaskText {
  margin-top: -45px;
  max-width: 650px;
}
.targetBlock {
  min-width: 648px;
  min-height: 213px;
  background: $dark;
  box-shadow: 0px 4px 24px rgba($black, 0.3);
  border-radius: 35px;
  padding: 34px 48px;
}
.taskBlock {
  padding: 34px 48px;
  margin-top: 37px;
}
.targetTitle, .taskTitle {
  font-family: $montSemi;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 13px 0;
}
.targetTitle, .targetDescr {
  color: $white;
}
.targetDescr, .taskDescr {
  font-family: $montReg;
  font-size: 15px;
  line-height: 18px;
}
.taskTitle, .taskDescr {
  color: $gray_1;
}
.targetTaskImage {
  margin-top: -250px;
}