@import "../../scss/variables.scss";

.learnMoreContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.learnMoreMinorImg {
  outline: 5px solid $white;
  filter: drop-shadow(0px 4px 43px rgba($black, 0.4));
  border-radius: 253px;
  width: 506px;
  height: 795px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  &::after {
    position: absolute;
    content: "";
    width: 750px;
    height: 840px;
    background: url(../../assets/images/dashed-border.png) center no-repeat;
    border-radius: 267px;
    transform: rotate(-5deg);
    background-size: cover;
    z-index: -1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 166px;
    height: 166px;
    background: url(../../assets/images/waves.svg) center no-repeat;
    bottom: -200px;
    right: -58px;
    z-index: -1;
    transform: rotate(-45deg);
  }
}
.learnMoreMinorConatiner {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    width: 136px;
    height: 136px;
    background: url(../../assets/images/circle.png) center no-repeat;
    transform: rotate(140deg);
    top: 95px;
    right: -5px;
  }
}
.learnMoreContent {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    background: url(../../assets/images/lines.svg) center no-repeat;
    transform: rotate(35deg);
    left: -120px;
    bottom: 105px;
  }
}
@media screen and (max-width: 1350px) {
  .accordionItem {
    width: 550px;
    position: relative;
    z-index: 10;
  }
}
@media screen and (max-width: 1100px) {
  .learnMoreMinorImg {
    width: 400px;
    height: 627px;
    &::after {
      width: 647px;
      height: 577px;
      background-size: contain;
    }
  }
}
@media screen and (max-width: 992px) {
  .accordionItem {
    width: 450px;
  }
}
@media screen and (max-width: 990px) {
  .learnMoreContent {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 0;
  }
  .accordion {
    width: 100%;
  }
  .accordionItem {
    width: 100%;
    .accordionHeader {
      text-align: center;
    }
  }
}
@media screen and (max-width: 550px) {
  .accordionItem {
    width: 100%;
    padding: 14px;
  }
}
@media screen and (max-width: 460px) {
  .accordionItem .accordionHeader {
    font-size: 18px;
  }
} 
@media screen and (max-width: 430px) {
  .learnMoreMinorImg {
    width: 100%;
    outline: none;
  }
}