@import '../../../scss/variables.scss';

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 67px;
}
.menuInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.logo {
  color: $white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo img {
  margin-top: -20px;
}
.menuItem {
  padding: 0 20px;
}
.menuLink {
  font-family: $montSemi;
  font-size: 16px;
  color: $white;
  text-decoration: none;
}
.logoName {
  font-family: $tenor;
  font-size: 33px;
  padding-left: 15px;
}
.menuInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}