@import '../../scss/variables.scss';

.headerSection {
  font-family: $montReg;
  font-size: 44px;
  line-height: 54px;
  font-weight: 400;
  font-style: normal;
  color: $gray;
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
}
@media screen and (max-width: 550px) {
  .headerSection {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 44px;
  }
}