@import './variables.scss';
@import './normalize.scss';

@font-face {
  font-family: $montReg;
  src: url('../assets/fonts/MontserratRegular.eot');
  src: url('../assets/fonts/MontserratRegular.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratRegular.woff2') format('woff2'),
       url('../assets/fonts/MontserratRegular.woff') format('woff'),
       url('../assets/fonts/MontserratRegular.ttf') format('truetype'),
       url('../assets/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
  font-display: swap;
};

@font-face {
  font-family: $montMed;
  src: url('../assets/fonts/MontserratMedium.eot');
  src: url('../assets/fonts/MontserratMedium.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratMedium.woff2') format('woff2'),
       url('../assets/fonts/MontserratMedium.woff') format('woff'),
       url('../assets/fonts/MontserratMedium.ttf') format('truetype'),
       url('../assets/fonts/MontserratMedium.svg#MontserratMedium') format('svg');
  font-display: swap;
};

@font-face {
  font-family: $montSemi;
  src: url('../assets/fonts/MontserratSemiBold.eot');
  src: url('../assets/fonts/MontserratSemiBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratSemiBold.woff') format('woff'),
       url('../assets/fonts/MontserratSemiBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
  font-display: swap;
};

@font-face {
  font-family: $tenor;
  src: url('../assets/fonts/TenorSansRegular.eot');
  src: url('../assets/fonts/TenorSansRegular.eot') format('embedded-opentype'),
       url('../assets/fonts/TenorSansRegular.woff2') format('woff2'),
       url('../assets/fonts/TenorSansRegular.woff') format('woff'),
       url('../assets/fonts/TenorSansRegular.ttf') format('truetype'),
       url('../assets/fonts/TenorSansRegular.svg#TenorSansRegular') format('svg');
  font-display: swap;
};

@font-face {
  font-family: $roadRage;
  src: url('../assets/fonts/RoadRage.eot');
  src: url('../assets/fonts/RoadRage.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RoadRage.woff2') format('woff2'),
      url('../assets/fonts/RoadRage.woff') format('woff'),
      url('../assets/fonts/RoadRage.ttf') format('truetype'),
      url('../assets/fonts/RoadRage.svg#RoadRage') format('svg');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $mainBg;
  font-family: $montReg;
};

img {
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  color: $white;
  overflow: hidden;
}