// Fonts variables
$montReg: 'MontserratRegular';
$montMed: 'MontserratMedium';
$montSemi: 'MontserratSemiBold';
$tenor: 'TenorSansRegular';
$roadRage: 'Road Rage(RUS BY LYAJKA)';

// Colores variables
$black: #000000;
$mainBg: #242424;
$dark: #1D1D1D; 
$dark_1: #3A3A3A;
$dark_3: #2C2C2C;
$white: #fff;
$lightWhite: #DBDBDB;
$almostWhite: #E8E8E8;
$gray: #E7E7E7;
$gray_1: #B4B4B4;
$reviewsContent: #C2C2C2; // #CFCFCF
$orange: #EE6400;
$red: #C52F00;
$dots: #414141;