// Fonts variables
$montReg: 'MontserratRegular';
$montMed: 'MontserratMedium';
$montSemi: 'MontserratSemiBold';
$tenor: 'TenorSansRegular';
$roadRage: 'RoadRageRegular';

// Colores variables
$white: #fff;